body{
    margin:0;
    background-position: center;
    background-image: url(/img/dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.sticky, header{
    position: fixed;
    top: 0;
    width: 100%;
}
header{
    opacity: 0.8;
    border: 2px black solid;
    background-color: black;
    height: 70px;
}
.main-nav{
    padding:0;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: sans-serif;
}

.main-nav li{
    list-style-type: none;
}
.main-nav a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
a::after {
    border-bottom: solid 2px #f00;
    bottom: 0;
    content: "";
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
  }
  a:hover::after {
    width: 100%;
  }
h1{
    color:white;
    text-align: left;
    margin-top: 10%;
    padding-left: 11%;
    font-size: 4em;
}
label{
    display: flex;
    color:white;
}
.form-container{
    padding-left: 11%;
}
input{
    width:150px
}
.form-container div{
    padding-bottom: 3%;
}
@media(max-width: 450px){
    .main-nav{
        padding-bottom: 50px;
    }
}
@media(max-width: 450px){
    h1{
        font-size:30px;
    }
}
@media(max-width: 450px){
    textarea{
        width:350px;
    }
}