body{
    background-image: url(/img/dark.jpg);
}
.main-nav{
    display: flex;
    /* background: rgb(216, 216, 216); */
    justify-content: space-around;
    font-size: 1.5em;
    font-family: sans-serif;
}
#menu{

}
.main-nav li{
    list-style-type: none;
}
.main-nav a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
a::after {
    border-bottom: solid 2px red;
    bottom: 0;
    content: "";
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
}
a:hover::after {
    width: 100%;
}
.main-content{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    margin-top: 15%;
}
.main-content h1{
    font-size: 6em;
    font-family: Courier；
}
.main-content p{
    font-size: 1.2em;
    font-family: sans-serif;
    padding: 0%;
    margin-top: -4%;
}