body, html, main {
    /* important */
    height: 100%;
    width:100%;
    margin: 0% auto;
    padding: 0%;
}
a{
    text-decoration: none;
}

/* //////////////////  Nav Stuff  ////////////////////////////////////////////////// */

.sticky, header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
header{
    opacity: 0.75;
    border: 2px white solid;
    background-color: white;
    height: 60px;
    transition: .5s;
    /* -webkit-transform: translate3d(0, 0, 10px);
    transform: translate3d(0, 0, 10px); */
}
header.hide {
    transform: translateY(-150%);
}

.main-nav{
    padding: 0%;
    margin: 17px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    font-family: sans-serif;
}

.main-nav a {
    text-decoration: none;
    color: rgb(245, 32, 64);
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: 25px;
    border: 2px solid transparent;
    text-align: center;
    line-height: 25px;
    transition: all .6s;
  }
 .main-nav a:hover {
    border-color: rgb(253, 4, 41);
}


/*  矢印始め　*/
.Arrow a {
    position: absolute;
    bottom: 20px;
    left: 50% ;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 60px
}

.Arrow a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid rgb(250, 12, 12);
    border-bottom: 3px solid rgb(240, 17, 17);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  } 
   @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }  
/* 矢印終わり */

/* //////////////  Background Stuff  ///////////////////////////////////////////////////////////////// */
div.sameEffect{
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.gradient{
    padding-top: 3%;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
    background: linear-gradient(45deg,
    rgba(133, 93, 93, 0.7),
    rgba(100, 216, 243, 0.7),
    rgba(234, 236, 198, 0.7),
    rgba(146, 156, 245, 0.7),
    rgba(52, 219, 216, 0.7));
    background-size: 1000%;
    height: 100vh;
    animation: gradientAnimation 50s ease infinite;
    background-position: center center;

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}

#topPage{
    background: url(./img/austin.jpg);
    background-position: center center;

}
#aboutPage{
    background: url(./img/about2.png);
    background-position: center center;

}
#projectsPage{
    background: url(./img/project2.png);
    background-position: center center;

}
#contactPage{
    background: url(./img/contact.png);
    background-position: center center;
}

/* #topPage{
    padding-top:3%; 
    height: 100vh;
    background: linear-gradient(
       45deg,
        rgba(133, 93, 93, 0.7),
        rgba(100, 216, 243, 0.7),
        rgba(234, 236, 198, 0.7),
        rgba(146, 156, 245, 0.7),
        rgba(52, 219, 216, 0.7)
    )
    0 0 / 1000% no-repeat,
    url(./img/austin.jpg) 0 0 / cover no-repeat;
    animation: gradientAnimation 40s ease infinite;
    background-attachment: fixed;
    background-position: center center;
}
    @keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}
    
#aboutPage{
    padding-top:3%; 
    height: 100vh;
    background: linear-gradient(
       45deg,
        rgba(133, 93, 93, 0.7),
        rgba(100, 216, 243, 0.7),
        rgba(234, 236, 198, 0.7),
        rgba(146, 156, 245, 0.7),
        rgba(52, 219, 216, 0.7)
    )
    0 0 / 1000% no-repeat,
    url(./img/about2.png) 0 0 / cover no-repeat;
    animation: gradientAnimation 40s ease infinite;
    background-attachment: fixed;
    background-position: center center;
}
    @keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}
#projectsPage{
    padding-top:3%; 
    height: 100vh;
    background: linear-gradient(
       45deg,
        rgba(133, 93, 93, 0.7),
        rgba(100, 216, 243, 0.7),
        rgba(234, 236, 198, 0.7),
        rgba(146, 156, 245, 0.7),
        rgba(52, 219, 216, 0.7)
    )
    0 0 / 1000% no-repeat,
    url(./img/project2.png) 0 0 / cover no-repeat;
    animation: gradientAnimation 40s ease infinite;
    background-attachment: fixed;
    background-position: center center;
}
    @keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
}
#contactPage{
    padding-top:3%; 
    height: 100vh;
    background: linear-gradient(
       45deg,
        rgba(133, 93, 93, 0.7),
        rgba(100, 216, 243, 0.7),
        rgba(234, 236, 198, 0.7),
        rgba(146, 156, 245, 0.7),
        rgba(52, 219, 216, 0.7)
    )
    0 0 / 1000% no-repeat,
    url(./img/contact.png) 0 0 / cover no-repeat;
    animation: gradientAnimation 40s ease infinite;
    background-attachment: fixed;
    background-position: center center;
}
    @keyframes gradientAnimation {
    0% {
        background-position: 0% 30%, 0 0;
    }
    50% {
        background-position: 100% 70%, 0 0;
    }
    100% {
        background-position: 0% 30%, 0 0;
    }
} */


/* ////////////////////  Text & Content Stuff  /////////////////////////////////// */
/* Top page content */
.Top{
    display: flex; 
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgb(243, 4, 4);
    margin-top: 15%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
}
.Top h1{
    text-align: center;
    font-size: 70px;
}
.Top p{
    font-size: 1.2em;
    font-weight: 600;
    font-family: sans-serif;
    padding: 0%;
    margin-top: -4%;
    margin-bottom: 8%;
    letter-spacing:5px;
}
/* .projects-content,
.about-content,
.contact-content{
    justify-content: center;
    display: flex;
    color: white;
    font-size: 40px;
    flex-direction: row;
    margin-top: 100px;
} */
/* ////////////  About page content  ////////////////////////////////////////////////////////////////////////// */


/* ////////////  Projects page content  //////////////////////////////////////////////////////// */
.DigitalCrafts-Projects,
.LaPraim-Projects{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: red;
    margin: 40px;
}
.Pro-Digi,
.Pro-Lap{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid red;
    width: 800px;
    height: 140px;
    background-color: white;
    opacity: 0.8;
}

.projects-content{
    display: inline;
    text-align: center;
}
.Pro-Lap p {
    margin: 1%;
    font-size: 25px;
    letter-spacing: 3px;
}
.Pro-Digi p {
    margin: 1%;
    font-size: 25px;
    letter-spacing: 3px;
}
.Pro-Lap h3{
    margin: 20px 0px 10px 0px;
    letter-spacing: 7px;
}
.Pro-Digi h3{
    margin: 20px 0px 10px 0px;
    letter-spacing: 7px;
}

/* /////////  Responsive Design  ////////////////////////////////////////////// */
@media (max-width: 768px){
    
    #topPage{
        background: none;
    }    
    /*PC用の背景はオフ*/
    #topPage::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    height: 100vh;
    background: url(./img/austin.jpg) center/cover no-repeat;
    /*fixedをトル！*/
    -webkit-background-size: cover;
    /*Android4*/
    }

    #aboutPage{
        background: none;
    }    
      /*PC用の背景はオフ*/
    #aboutPage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    height: 100vh;
    background: url(./img/about2.png) center/cover no-repeat;
    /*fixedをトル！*/
    -webkit-background-size: cover;
    /*Android4*/
    }
    #projectsPage{
        background: none;
    }    
      /*PC用の背景はオフ*/
    #projectsPage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    height: 100vh;
    background: url(./img/project2.png) center/cover no-repeat;
    /*fixedをトル！*/
    -webkit-background-size: cover;
    /*Android4*/
    }
    #contactPage{
        background: none;
    }    
      /*PC用の背景はオフ*/
    #contactPage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    height: 100vh;
    background: url(./img/contact.png) center/cover no-repeat;
    /*fixedをトル！*/
    -webkit-background-size: cover;
    /*Android4*/
    }

 }
@media (max-width: 610px){
    .Top h1{
        font-size: 60px;

    }
 }
@media (max-width: 525px){
    .Top h1{
        font-size: 55px;

    }
 }
@media (max-width: 500px){
    .Top h1{
        font-size: 50px;

    }
 }
 @media (max-width: 450px){
    .Top h1{
        font-size: 40px;

    }
    body{
        background-size: 30vh
    }
 }
 @media (max-width: 400px){
    .Top p{
        font-size: 20px;
    }
    .main-nav{
        font-size: 20px;
    }
 }
 
